.page-bg-start {
	background: url('../image/start.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.page-bg-random {
	background: url('../image/random.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-name {
	color: #e7e7e0;
	overflow: hidden;
	padding-top: 5px;
}

.logo-area {
	padding-top: 10px;
}

.image-logo{
	width: 200px;
}

.game-container {
	padding-top: 10px;
}

.pad-row {
	margin-bottom: 10px;
}

.boxed {
	padding: 0!important;
}

.boxed img{
	border-radius: 20px;
}

.flip {
	list-style: none;
	padding: 0;
	margin:0;
}

.table-container{
	display: table;
	height: 600px;
}

.table-content {
	display: table-cell;
	vertical-align: middle;
}

.btn-maxx {
	font-size: 30px;
	padding: 10px 20px 10px 20px;
	background-color: #e7e7e0;
}

.btn-maxx:hover {
	background-color: #efbe7d;
}

#form-tebak {
	display: none;
}

.color-white {
	color: #f0f0f0
}

.color-black {
	color: #222;
}

.overlay_win {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: url('../image/congratulation.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.overlay_win { display: none;  opacity:
}

.overlay_lost {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: url('../image/wrong_timeout.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.overlay_lost { display: none;  opacity:
}

.overlay_timeout {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: url('../image/wrong_timeout.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.overlay_timeout { display: none;  opacity:
}

.show { display: block; }

.hide { display: block; }

.big {
	font-size: 10em;
}

.not-big-enough{
	font-size: 3em;
}

#space {
	height: 21vh;
}