/* here you can put your own css to customize and override the theme */
/*.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}*/
.badge-approved{
    position: absolute;
    right:0;
    top:0;
    text-align: center;
    width: 0;
    height: 0;
    float: right;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #24bf24 transparent transparent;
}

.badge-fetched {
	position: absolute;
	right:0;
	top:0;
	text-align: center;
	width: 0;
	height: 0;;
	border-style: solid;
	border-width: 0 100px 100px 0;
	border-color: transparent #007bff transparent transparent;
}

.pojok {
	position: absolute;
	right: 10px;
	top: 25px;
	color: #FFDF00;
}

.badge-angka {
	position: absolute;
	right: 15px;
	top: 0;
	color: #aa2211;
	z-index: 100;
}

.captionnya{
	height: 75px!important;
	overflow: visible!important;
}